<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="nPocoLocoConfigGroup">
      <section name="nPocoLocoSection"
                type="NPocoLoco.Configuration.NPocoLocoSection, NPocoLoco"
                allowLocation="true"
                allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <nPocoLocoConfigGroup>
    <nPocoLocoSection connection="NPocoIntegrationConnString" resourcesAssemblyName="NPocoLoco.Tests.Integration"/>
  </nPocoLocoConfigGroup>

  <connectionStrings>
    <add name="InitialSetupConnString" connectionString="server=MSSQLSERVER_2012; initial catalog=master; Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="NPocoIntegrationConnString" connectionString="server=MSSQLSERVER_2012; Initial Catalog=NPocoLocoIntegration; User Id=NPocoLocoUser; Password=password"/>
  </connectionStrings>
</configuration>