<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="nPocoLocoConfigGroup">
      <section name="nPocoLocoSection"
                type="NPocoLoco.Configuration.NPocoLocoSection, NPocoLoco"
                allowLocation="true"
                allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <nPocoLocoConfigGroup>
    <nPocoLocoSection connection="NPocoLocoConnectionString" resourcesAssemblyName="NPocoLoco.Tests.Unit"/>
  </nPocoLocoConfigGroup>
</configuration>